<H1>JukeBoxAPI</H1>
Provides details contained in the JukeBox
<BR>Best viewed with <a href='http://jsonhandle.sinaapp.com/'>JSON-Handle extention</a>
<BR>Try with curl & jq. <BR>curl -s http://deploy.inf.liveblockauctions.com:6001/environments | jq '.[]| if (.environment | contains(&quot;PROD&quot;)) then .environment else empty end'

<BR>curl -s http://deploy.inf.liveblockauctions.com:6001/environments | jq '.[] | select(.field==&quot;environment&quot;) | .value'<BR>